<html ng-app="aitu-project">
<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="factory.js"></script>
</head>
<body ng-controller="FactoryCtrl">



<table>
    <thead>
    <th>ID</th>
    <th>Shop ID</th>
    <th>Total_Price</th>
    <th>Date</th>
    <th>Status</th>
    </thead>
    <tbody>
    <tr ng-repeat="order in OrderStatusList" >
        <td ng-bind="order.id"></td>
        <td ng-bind="order.shop_id"></td>
        <td ng-bind="order.total_price"></td>
        <td>{{order.date | date:'dd.MM.yyyy'}}</td>
        <td ng-bind="order.status"></td>
        <td>
            <button style="background-color: cornflowerblue;border-color: black" ng-click="changeStatus(order,order.status+1)" type="button" class="btn btn-warning">{{statusName[order.status].name}}</button>
        </td>
    </tr>
    </tbody>
</table>
<div class="table">
<table>
    <thead>
    <th>Product Name</th>
    <th>Total Price</th>
    <th>Quantity</th>

    </thead>
    <tr ng-repeat="order in OrderStatusList" >
        <td ng-bind="order.id"></td>
        <td ng-bind="order.shop_id"></td>
        <td ng-bind="order.total_price"></td>

    </tr>
</table>
</div>
<div style="text-align: center;"><button style="background-color: #ffa500;border-color: black" class="btn btn-warning" ng-repeat="d in statusName" ng-click="getOrderStatus(d.id)" ng-model="status.id">{{d.name}}</button>
</div></body>
</html>