<!DOCTYPE html>
<html ng-app="aitu-project" lang="">
<head>
    <meta charset="utf-8" />
    <title>Bread List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="index.css">
    <style>
        .column {
            float: left;
            width: 25%;
            padding: 10px;
        }

    </style>
</head>
    <header class="bgimg display-container gray-colour" id="home">
    <div class="left-side center large-padding hiding">
        <h1>Hello {{shops.name}}</h1>
    </div>
    <div class="middle center">
        <span class="white" style="font-size:90px">the<br>Bakery</span>
    </div>
</header>

<body ng-controller="ProductCtrl">
<div class="top">
    <div class="row padding black">
        <div class="col s3">
            <a href="#" class="bttn block black">Home</a>
        </div>
        <div class="col s3">
            <a href="#login" class="bttn block black">Login</a>
        </div>
        <div class="col s3">
            <a href="#bread" class="bttn block black">Bread list</a>
        </div>
        <div class="col s3">
            <a href="#orders" class="bttn block black">My orders</a>
        </div>
        <div class="col s3">
            <a href="#reg" class="bttn block black">Registration</a>
        </div>

    </div>
</div>

<div class="row">
    <div class="column">
        <img src="https://images.squarespace-cdn.com/content/v1/5e89f69f013b182cfa9726ca/1586133441517-GC6WE80S17IF0JJ6OS0R/ke17ZwdGBToddI8pDm48kKT96-mTqGc-stp-zZRIm9p7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UTNp7wJXdR1xX66M6thRzqrQ6_o4HcW8ZfkNO26r5aioETgZ1M0luSsj-o69URGWyw/image1+%281%29.jpeg" alt="Nature" style="width:100%">
    </div>
    <div class="column">
        <img src="https://images.squarespace-cdn.com/content/v1/5e89f69f013b182cfa9726ca/1586261374526-1KXPWAQX00ZH12ILZYN1/ke17ZwdGBToddI8pDm48kK60W-ob1oA2Fm-j4E_9NQB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kD6Ec8Uq9YczfrzwR7e2Mh5VMMOxnTbph8FXiclivDQnof69TlCeE0rAhj6HUpXkw/FullSizeRender+%281%29.jpg" alt="Snow" style="width:100%" >
    </div>
    <div class="column">
        <img src="https://images.squarespace-cdn.com/content/v1/5e89f69f013b182cfa9726ca/1586142108816-WQHUYZQJHONISZN687F1/ke17ZwdGBToddI8pDm48kK60W-ob1oA2Fm-j4E_9NQB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kD6Ec8Uq9YczfrzwR7e2Mh5VMMOxnTbph8FXiclivDQnof69TlCeE0rAhj6HUpXkw/IMG_0954.jpg" alt="Mountains" style="width:100%" >
    </div>
    <div class="column">
        <img src="https://images.squarespace-cdn.com/content/v1/5e89f69f013b182cfa9726ca/1586261379207-7O4GQ0P0R8R2LAEZB7DM/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/IMG_0316.jpg" alt="Lights" style="width:133.5%" >
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-repeat="type in typeList " ng-click="getBreadsByTypes(type.id)">{{type.name}}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row container" id="bread">

    <h3>Bread List</h3>


        <table class="table table-bordered  table-condensed">
            <thead>

            <th>ID</th>
            <th>name</th>
            <th>type_ID</th>
            <th>price</th>
            <th>weight</th>
            <th>Add</th>
            <th>Delete</th>
            </thead>
            <tr ng-repeat="bread in productList | orderBy: 'id'">
                <td ng-bind="bread.id"></td>
                <td ng-bind="bread.name"></td>
                <td ng-bind="bread.type_id"></td>
                <td ng-bind="bread.price"></td>
                <td ng-bind="bread.weight"></td>
                <td ng-click="incrementProduct(bread)"><button class="btn  btn-md"> ADD </button></td>
        <td ng-click="decrementProduct(bread)"><button class="btn  btn-md"> DELETE </button></td>

        </tr>
        </table>
        <button ng-click="SendOrder()" type="button" class="btn  btn-lg btn-block">Send order</button>

    </div>
    <b>Shopping cart</b>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th>name</th>
        <th>description</th>
        <th>quantity</th>
        <th>price</th>

        </thead>
        <tr ng-repeat="bread in orderItemList">
            <td ng-bind="bread.name"></td>
            <td ng-bind="bread.description"></td>
            <td ng-bind="bread.quantity"></td>
            <td ng-bind="bread.price"></td>

        </tr>
    </table>
<div id="orders">
    <button ng-click="ShowOrder()" type="button" class=" btn btn-dark">My Orders!</button>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th>ID</th>
        <th>Shop_ID</th>
        <th>Total price</th>
        <th>Date</th>


        </thead>
        <tr ng-repeat="order_item in orderItemList | orderBy : 'id'">
            <td ng-bind="order_item.id"></td>
            <td ng-bind="order_item.shop_id"></td>
            <td ng-bind="order_item.total_price"></td>
            <td ng-bind="order_item.date | date :'dd.MM.yyyy'"></td>

        </tr>

    </table>
</div>
    <div class="row" id="login">
        <div class="row">
            <div class="col-lg-6">
                <input ng-model="auth.login" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" />
                <input ng-model="auth.password"  type="password" class="form-control form-control-lg inverse-mode" />
                <div class="login-buttons">
                    <button ng-click="login(auth)" type="button" class="btn  btn-lg btn-block">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div clas="login" id="reg">
        <div class="row">
            <div class="col-lg-6">
                <input ng-model="registration.login" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" />
                <input ng-model="registration.password"  type="password" class="form-control form-control-lg inverse-mode" />
                <div class="login-buttons">
                    <button ng-click="registration(auth)" type="button" class="btn  btn-lg btn-block">Login</button>
                </div>
            </div>
    </div>
</div>

</body>
</html>